<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <% include ../static/partials/navbar.ejs %>
    <main class="container">
      <h1>Edit Item</h1>
      <form action="/items/<%= item.id %>/update" method="post">
        <div class="form-group">
          <label for="name">Item name</label>
          <input value="<%= item.name %>" type="text" class="form-control" name="name" aria-describedby="nameHelp" placeholder="Enter Name">
        </div>
        <button type="submit" class="btn btn-outline-primary form-button">Update</button>
      </form>
    </main>
    <% include ../static/partials/baseScripts.ejs %>
  </body>
</html>
