<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <% include ../static/partials/navbar.ejs %>
    <main class="container">

      <h1>Items</h1>

      <a href="/items/new" class="btn btn-success">New Item</a>

      <table style="width:100%">
        <tr>
          <th>Name</th>
          <th>Purchased?</th>
          <th></th>
          <th></th>
        </tr>
        <% items.forEach((item) => { %>
          <tr>
            <td> <%= item.name %> </td>
            <td> <form style="display:initial" action="/items/<%= item.id %>/update" method="post">
              <% if(!item.isPurchased){ %>
                <button name="isPurchased" type="submit" value="true" class="btn btn-success">
                  Mark as Purchased
                </button>
              <% } else { %>
                <button name="isPurchased" type="submit" value="false" class="btn btn-danger">
                  Mark as Unpurchased
                </button>
              <% } %>
              </form>
            </td> 
            <td> <a href="/items/<%= item.id %>/edit" class="btn btn-warning">Edit</a> </td>
            <td> <form style="display:initial" action="/items/<%= item.id %>/destroy" method="post">
            <button type="submit" class="btn btn-danger">Delete</button> </td>
        </form>
          </tr>
        <% }) %>
      </table>

    </main>
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
      <script>
        var socket = io.connect();
        $('form').submit(function(e){
                socket.emit('item_changed');
            });

        socket.on('item_changed', function(msg){
              document.location.reload();
            });
      </script>
    <% include ../static/partials/baseScripts.ejs %>
  </body>
</html>
