h1 {
    margin-top: 60px;
    margin-bottom:20px;
}

head {
    font-family: 'Patrick Hand', cursive;
}
body {
    font-family: 'Patrick Hand', cursive;
}

.heading {
    text-align: center;
}

#card-container {
    margin: 20px;
}

.form-button {
    margin-top:10px;
    margin-bottom:20px;
}

.popup-alert {
    margin-top:70px;
    position: relative;
    border: 1px solid transparent;
    border-radius: .25rem;
}

#add-item-textbox {
    width: 50%;
    display: inline;
}

#add-item-button {
    vertical-align: top;
}

#add-item-form {
    margin-bottom:20px
}